@model AppResenas.Models.Resena

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Resena</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(ViewBag.nombreLibro)
        </dt>
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.texto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.texto)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tituloLibro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tituloLibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.puntaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.puntaje)
        </dd>*@
    </dl>
</div>
<div>
    @*@{double puntos = 0; }
    <form asp-action="@Model.Puntuar(@puntos)">
        <input type="range" min="0" max="10" step="1" id="puntuar" action="@puntos" />
    </form>
    
    <a asp-action="@Model.puntuar(@puntos)">Puntuar</a>*@
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
